.root {
    -fx-alignment: center;
}

.button {
    -fx-focus-color: #b22222;
    -fx-padding: 5 5 5 5;
    -fx-font-family: Verdana;
}

.label {
    -fx-font-family: Verdana;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8),5,0,0,0); /*effet d'ombre*/
    -fx-cursor: hand;
}

#hbox {
    -fx-alignment: top-center;
}

#ok {
    -fx-alignment: bottom-center;
}

#circle {
    -fx-graphic : url("/ressources/images/circle.png");
}

#triangle {
    -fx-graphic : url("/ressources/images/triangle.png");
}

#square {
    -fx-graphic : url("/ressources/images/square.png");
}

#rectangle {
    -fx-graphic : url("/ressources/images/rectangle.png");
}

#line {
    -fx-graphic : url("/ressources/images/line.png");
}

#ellipse {
    -fx-graphic : url("/ressources/images/ellipse.png");
}