.root {
    -fx-alignment: center;
}

.button {
    -fx-focus-color: #b22222;
    -fx-padding: 5 5 5 5;
    -fx-font-family: Verdana;
}

.label {
    -fx-font-family: Verdana;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8),5,0,0,0); /*effet d'ombre*/
    -fx-cursor: hand;
}

#hbox {
    -fx-alignment: top-center;
}

#ok {
    -fx-alignment: bottom-center;

}

