.button {
    -fx-focus-color: #b22222;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8),5,0,0,0); /*effet d'ombre*/
    -fx-cursor: hand;
}

#iconOpen {
    -fx-graphic : url("/ressources/images/open.png");
}

#iconNew {
    -fx-graphic : url("/ressources/images/file.png");
}

#iconSave {
    -fx-graphic : url("/ressources/images/save.png");
}